.register {
  display: flex;
  justify-content: center;

  .container {
    padding: 5rem 0;

    form {
      display: flex;
      justify-content: space-between;
      gap: 10rem;

      .left {
        h1 {
          font-weight: 300;
          color: gray;
          margin-bottom: 3rem;
        }
      }

      .right {
        h1 {
          font-weight: 300;
          color: gray;
          margin-bottom: 3rem;
        }
      }
    }
  }
}
