.register {
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 96rem;
    padding: 10rem 0;

    display: flex;
    gap: 20rem;

    h1 {
      color: gray;
      margin-bottom: 2rem;
    }

    .left,
    .right {
      flex: 1;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;

      .formGroup {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;

        label {
          display: inline-block;
          font-size: 1.8rem;
          color: gray;
        }

        input,
        textarea {
          display: inline-block;
          font-family: inherit;
          outline: none;
          font-size: var(--default-font-size);
          padding: 2rem;
          background-color: transparent;
          color: #999;
          border: 1px solid rgb(224, 224, 224);
          border-radius: 0.5rem;
          caret-color: var(--clr-primary-green);

          &::placeholder {
            font-size: 1.5rem;
            color: #ccc;
          }
        }
      }

      .toggle {
        display: flex;
        align-items: center;
        gap: 1rem;

        .switch {
          position: relative;
          display: inline-block;
          width: 50px;
          height: 24px;
        }

        /* Hide default HTML checkbox */
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        label {
          display: inline-block;
          font-size: 1.8rem;
          color: gray;
        }
      }

      button {
        display: inline-block;
        border: none;
        outline: none;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 1.8rem;
        padding: 2rem;
        background-color: var(--clr-primary-green);
        color: var(--clr-white);
        border-radius: 0.5rem;
        cursor: pointer;
      }
    }

    .right {
      .formGroup {
        gap: 4rem;

        textarea {
          resize: none;
        }
      }
    }
  }
}
