.message {
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;
    margin: 5rem;

    .breadCrumbs {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1.3rem;
      color: #555;
    }

    .messages {
      margin: 3rem 0;
      padding: 5rem;
      height: 50rem;
      overflow-y: scroll;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      .item {
        display: flex;
        gap: 2rem;
        max-width: 60rem;
        font-size: 1.8rem;

        img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          display: inline-block;
          object-fit: cover;
        }

        p {
          padding: 2rem;
          background-color: #f9f9f9;
          border-radius: 0 2rem 2rem 2rem;
        }
      }
    }

    .write {
    }
  }
}
