.message {
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;
    margin: 5rem;

    .breadCrumbs {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1.3rem;
      color: #555;
    }

    .messages {
      margin: 3rem 0;
      padding: 5rem;
      height: 50rem;
      overflow-y: scroll;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      .item {
        img {
        }

        p {
        }
      }
    }

    .write {
    }
  }
}
