.message {
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;
    margin: 5rem;

    .breadCrumbs {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1.3rem;
      color: #555;
    }

    .messages {
      margin: 3rem 0;
      padding: 5rem;
      height: 50rem;
      overflow-y: scroll;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      .item {
        display: flex;
        gap: 2rem;
        max-width: 60rem;
        font-size: 1.8rem;

        &.owner {
          flex-direction: row-reverse;
          align-self: flex-end;

          p {
            border-radius: 2rem 0 2rem 2rem;
            background-color: royalblue;
            color: var(--clr-white);
          }
        }

        img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          display: inline-block;
          object-fit: cover;
        }

        p {
          font-weight: 300;
          padding: 2rem;
          background-color: #f9f9f9;
          color: gray;
          border-radius: 0 2rem 2rem 2rem;
        }
      }
    }

    hr {
      height: 0;
      border: 0.5px solid rgb(247, 246, 246);
      margin-bottom: 2rem;
    }

    .write {
      display: flex;
      align-items: center;
      justify-content: space-between;

      textarea {
        display: inline-block;
        outline: none;
        font-family: inherit;
        font-size: var(--default-font-size);
        width: 80%;
        padding: 1rem;
        background-color: transparent;
        color: #999;
        border: 1px solid lightgray;
        border-radius: 1rem;
        caret-color: var(--clr-secondary-green);
        resize: none;

        &::placeholder {
          color: #ccc;
        }
      }
    }
  }
}
