.gigs {
  display: flex;
  justify-content: center;

  .container {
    width: 140rem;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .breadcrumbs {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1.3rem;
      color: #555;
    }

    p {
      font-weight: 300;
      color: #999;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: #555;

        input {
          font-family: inherit;
          padding: 0.5rem;
          outline: none;
          color: #999;
          border: 1px solid lightgray;
          caret-color: var(--clr-secondary-green);

          &::placeholder {
            color: gray;
          }
        }

        button {
          display: inline-block;
          border: none;
          outline: none;
          text-transform: capitalize;
          font-weight: 500;
          padding: 0.5rem 1rem;
          background-color: var(--clr-secondary-green);
          color: var(--clr-white);
          border-radius: 0.5rem;
          cursor: pointer;
        }
      }

      .right {
        display: flex;
        align-items: center;
        gap: 1rem;
        position: relative;

        .sortBy {
          font-weight: 300;
          color: #555;
        }

        .sortType {
          font-weight: 500;
        }

        img {
          width: 1.5rem;
          cursor: pointer;
        }

        .rightMenu {
          padding: 2rem;
          background-color: var(--clr-white);
          color: #555;
          border: 1px solid lightgray;
          border-radius: 0.5rem;
          position: absolute;
          top: 3rem;
          right: 0;

          display: flex;
          flex-direction: column;
          gap: 2rem;

          span {
            cursor: pointer;
          }
        }
      }
    }
  }
}
