.addReview {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .addForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    input {
      display: inline-block;
      outline: none;
      font-family: inherit;
      padding: 2rem;
      background-color: transparent;
      color: #999;
      border: 1px solid rgb(224, 224, 224);
      border-radius: 0.5rem;
      caret-color: var(--clr-primary-green);

      &::placeholder {
        font-size: 1.5rem;
        color: #ccc;
      }
    }

    select {
      align-self: flex-end;

      display: inline-block;
      outline: none;
      font-family: inherit;
      width: 20rem;
      padding: 2rem;
      background-color: transparent;
      color: #999;
      border: 1px solid rgb(224, 224, 224);
      border-radius: 0.5rem;

      option {
        font-size: 1.5rem;
        color: currentColor;
      }
    }

    button {
      align-self: flex-end;

      display: inline-block;
      border: none;
      outline: none;
      text-transform: capitalize;
      font-weight: 500;
      font-size: var(--default-font-size);
      width: 10rem;
      padding: 1rem;
      background-color: var(--clr-primary-green);
      color: var(--clr-white);
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }
}
