.gig {
  display: flex;
  justify-content: center;

  .container {
    width: 140rem;
    padding: 3rem 0;
    display: flex;
    gap: 5rem;

    .left {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .breadCrumbs {
      }

      h1 {
      }

      .user {
        img {
        }

        span {
        }
      }
    }

    .right {
      flex: 1;
    }
  }
}
