.featured {
  height: 60rem;
  display: flex;
  justify-content: center;
  background-color: var(--clr-primary-green);
  color: var(--clr-white);

  .container {
    width: 140rem;
    display: flex;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      h1 {
        font-size: 5rem;
      }

      .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--clr-white);
        border-radius: 0.5rem;

        .searchInput {
          flex: 1;
          display: flex;
          align-items: center;
          gap: 1rem;

          img {
            width: 2rem;
            height: 2rem;
            margin: 1rem;
            display: inline-block;
          }

          input {
            display: inline-block;
            border: none;
            outline: none;
            width: 100%;
            font-family: inherit;
            background-color: transparent;
            color: #999;
            caret-color: var(--clr-primary-green);
          }
        }

        button {
          display: inline-block;
          border: none;
          outline: none;
          width: 12rem;
          height: 5rem;
          background-color: var(--clr-secondary-green);
          color: var(--clr-white);
          cursor: pointer;
        }
      }

      .popular {
        span {
        }

        button {
        }
      }
    }

    .right {
    }
  }
}
