.gigContent {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .breadCrumbs {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.3rem;
    color: #555;
  }

  .user {
    display: flex;
    align-items: center;
    gap: 1rem;

    .pp {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      display: inline-block;
      object-fit: cover;
    }

    span {
      font-weight: 500;
      font-size: 1.4rem;
    }
  }

  .slider {
    .carousel-row {
      img {
        max-height: 50rem;
        object-fit: contain;
      }
    }
  }

  h2 {
    text-transform: capitalize;
    font-weight: 400;
  }

  p {
    font-weight: 300;
    color: #555;
    line-height: 2.5rem;
  }
}
