.messages {
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;
    padding: 5rem 0;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        text-transform: capitalize;
      }
    }

    table {
      width: 100%;

      tr {
        height: 10rem;

        &.active {
          background-color: #1dbf730f;
        }

        th {
          text-align: left;
          text-transform: capitalize;
        }

        td {
          padding: 1rem;

          &:first-child {
            font-weight: 500;
          }

          &:nth-child(2),
          &:nth-child(3) {
            color: gray;
          }

          button {
            display: inline-block;
            border: none;
            outline: none;
            padding: 1rem;
            background-color: var(--clr-secondary-green);
            color: var(--clr-white);
            border-radius: 0.5rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}
