.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-primary-green);
  color: var(--clr-white);
  line-height: 1;
  transition: all 0.5s ease;

  position: sticky;
  top: 0;

  &.active {
    background-color: var(--clr-white);
    color: var(--clr-black);
  }

  .container {
    width: 140rem;
    padding: 2rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 3.4rem;
      font-weight: bold;

      .text {
        color: currentColor;
      }

      .dot {
        color: var(--clr-secondary-green);
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 2.4rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;

      span {
        cursor: pointer;
      }

      button {
        display: inline-block;
        padding: 1rem 2rem;
        background-color: transparent;
        color: var(--clr-white);
        border: 1px solid var(--clr-white);
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: var(--clr-secondary-green);
          border-color: var(--clr-secondary-green);
        }
      }
    }
  }

  hr {
    width: 100%;
    height: 0;
    border: 0.5px solid lightgrey;
  }

  .menu {
    width: 140rem;
    padding: 1rem 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: gray;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
