.features {
  background-color: #f1fdf7;
  padding: 10rem 0;
  display: flex;
  justify-content: center;

  .container {
    width: 72rem;

    .item {
      .title {
        img {
        }

        span {
        }
      }

      p {
      }
    }
  }
}
