.features {
  background-color: #f1fdf7;
  padding: 10rem 0;
  display: flex;
  justify-content: center;

  &.dark {
    background-color: var(--clr-blue);
    color: var(--clr-white);

    .container {
      .item {
        h1 {
          color: currentColor;
        }

        p {
          color: currentColor;
          margin-bottom: 2rem;
        }

        .title {
          font-weight: 300;
          font-size: 1.4rem;
          color: currentColor;
        }

        button {
          display: inline-block;
          border: none;
          outline: none;
          text-transform: capitalize;
          font-size: var(--default-font-size);
          width: max-content;
          padding: 1rem 2rem;
          background-color: var(--clr-secondary-green);
          color: var(--clr-white);
          border-radius: 0.5rem;
          cursor: pointer;
          margin-top: 2rem;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .container {
    width: 120rem;
    display: flex;
    align-items: center;
    gap: 15rem;

    .item {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &:first-child {
        flex: 2;
      }

      &:last-child {
        flex: 3;
      }

      h1 {
        font-weight: 500;
        margin-bottom: 1rem;
      }

      p {
        font-weight: 300;
        font-size: 1.8rem;
        color: gray;
        line-height: 2.8rem;
        letter-spacing: 1px;
      }

      .title {
        display: flex;
        align-items: center;
        gap: 1rem;

        font-weight: 500;
        font-size: 1.8rem;
        color: gray;

        img {
          width: 2.4rem;
          height: 2.4rem;
        }
      }

      video {
        width: 62rem;
      }
    }
  }
}
