.footer {
  display: flex;
  justify-content: center;
  color: #999;
  margin: 5rem 0;

  img {
    width: 2.4rem;
    height: 2.4rem;
  }

  .container {
    width: 140rem;

    .top {
      display: flex;
      justify-content: space-between;

      .item {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h2 {
          text-transform: capitalize;
          font-size: var(--default-font-size);
          color: #555;
        }

        span {
          font-weight: 300;
        }
      }
    }

    hr {
      margin: 5rem 0;
      height: 0;
      border: 1px solid rgb(247, 246, 246);
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
        gap: 2rem;

        span {
          text-transform: capitalize;
          font-size: 1.3rem;
        }
      }

      .right {
        display: flex;
        align-items: center;
        gap: 3rem;

        .social {
          display: flex;
          align-items: center;
          gap: 2rem;
        }

        .link {
          display: flex;
          align-items: center;
          gap: 1rem;
        }
      }
    }
  }
}
