.gigCard {
  width: 32.4rem;
  height: 37rem;
  border: 1px solid rgb(247, 246, 246);
  margin-bottom: 2.5rem;

  img {
    width: 100%;
    height: 50%;
    display: block;
    object-fit: cover;
  }

  .info {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .user {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
      }
    }

    p {
      color: #111;
    }

    .star {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      img {
        width: 1.4rem;
        height: 1.4rem;
      }

      span {
        font-weight: bold;
        font-size: 1.4rem;
        color: #ffc108;
      }
    }
  }

  hr {
    height: 0;
    border: 0.5px solid var(--hr);
  }

  .details {
    padding: 1rem 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 1.6rem;
      height: 1.6rem;
      cursor: pointer;
    }

    .price {
      text-align: right;

      span {
        text-transform: uppercase;
        font-size: 1.2rem;
        color: #999;
      }

      h2 {
        font-weight: 400;
        font-size: 1.8rem;
        color: #555;
      }
    }
  }
}
