.slide {
  display: flex;
  justify-content: center;
  padding: 10rem 0;

  .container {
    width: 120rem;

    .slider {
      .carousel-row {
        img {
          max-height: 50rem;
          object-fit: contain;
        }
      }
    }

    .carousel-prev,
    .carousel-next {
      width: 5rem;
      height: 5rem;
      background-color: rgb(250, 250, 250);
      border-radius: 50%;

      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}
