.myGigs {
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;
    padding: 5rem 0;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        text-transform: capitalize;
      }

      button {
        display: inline-block;
        border: none;
        outline: none;
        padding: 1rem;
        background-color: var(--clr-primary-green);
        color: var(--clr-white);
        border-radius: 0.5rem;
        cursor: pointer;
      }
    }

    table {
      width: 100%;

      tr {
        height: 5rem;

        th {
          text-align: left;
          text-transform: capitalize;
        }

        td {
          .img {
            width: 5rem;
            height: 2.5rem;
            display: block;
            object-fit: cover;
          }

          .delete {
            width: 2rem;
            cursor: pointer;
          }
        }

        &:nth-child(even) {
          background-color: #1dbf730f;
        }
      }
    }
  }
}
