.myGigs {
  display: flex;
  justify-content: center;
  .container {
    width: 140rem;
    padding: 5rem 0;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
      }
    }

    table {
    }
  }
}
