.gigInfo {
  flex: 1;
  border: 1px solid lightgray;
  padding: 2rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: sticky;
  top: 15rem;
  height: max-content;
  max-height: 50rem;

  .price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-weight: 300;
    }

    h3 {
      font-weight: 500;
    }
  }

  p {
    color: gray;
    margin: 1rem 0;
  }

  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;

    .item {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 2rem;
      }
    }
  }

  .feature {
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: 300;
      color: gray;

      img {
        width: 1.4rem;
      }
    }
  }

  button {
    display: inline-block;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 1.8rem;
    padding: 1rem;
    background-color: var(--clr-secondary-green);
    color: var(--clr-white);
    border-radius: 0.5rem;
    cursor: pointer;
  }
}
