.notFound {
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;
    height: 70vh;
    padding: 10rem 0;

    .wrapper {
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50rem;
        height: 50rem;
        display: inline-block;
        object-fit: contain;
      }
    }
  }
}
